<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\action.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="_yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="Debug"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <add key="useSFTP" value="N"/>
    <add key="ftp_Server" value="10.88.89.163"/>
    <add key="ftp_Username" value="Facemay"/>
    <add key="ftp_Pa" value="xGB2omZjkROPb3D2zsbdvA=="/>
    <add key="ftp_UploadPath" value="output"/>
    <add key="WebServiceURL" value="http://10.88.89.163/scanUpload_FADS/JFS_WS.asmx"/>
    <add key="EdgeErase_mm" value="5"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Server" value="FX-EWB-Compatible/4.0"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>